// footer-area
footer
    .footer-area
        .footer-top.pt-60.pb-40
            .container
                .row
                    .col-xl-3.col-lg-4.col-md-6.col-sm-8
                        .footer-widget.mb-30
                            .f-logo.mb-25
                                a(href='index.html')
                                    img(src='assets/img/logo/logo.png' alt='')
                            .footer-content
                                span Got Question? Call us 24/7
                                a.contact(href='tel:0123456') 0-333-6666-7777
                                p Register now to get updates on pronot get up ions &amp; coupons ster now toon.
                            .footer-social
                                ul
                                    li
                                        a(href='#')
                                            i.fa-brands.fa-facebook-f
                                    li
                                        a(href='#')
                                            i.fa-brands.fa-twitter
                                    li
                                        a(href='#')
                                            i.fa-brands.fa-youtube
                                    li
                                        a(href='#')
                                            i.fa-brands.fa-instagram
                    .col-xl-3.col-lg-3.col-md-6.col-sm-4
                        .footer-widget.mb-30
                            .fw-title.mb-20
                                h2.title INFORMATION
                            .fw-link
                                ul
                                    li
                                        a(href='contact.html') About Us
                                    li
                                        a(href='contact.html') Careers
                                    li
                                        a(href='contact.html') Orders &amp; Shipping
                                    li
                                        a(href='contact.html') Office Supplies
                                    li
                                        a(href='contact.html') Contact Us
                                    li
                                        a(href='contact.html') Customer Service
                    .col-xl-3.col-lg-2.col-md-6.col-sm-6
                        .footer-widget.mb-30
                            .fw-title.mb-20
                                h2.title MY ACCOUNT
                            .fw-link
                                ul
                                    li
                                        a(href='shop.html') Track My Order
                                    li
                                        a(href='shop.html') View Cart
                                    li
                                        a(href='contact.html') Sign In
                                    li
                                        a(href='contact.html') Help
                                    li
                                        a(href='shop.html') My Wishlist
                                    li
                                        a(href='contact.html') Privacy Policy
                    .col-xl-3.col-lg-3.col-md-6.col-sm-6
                        .footer-widget.mb-30
                            .fw-title.mb-20
                                h2.title CUSTOMER SERVICE
                            .fw-link
                                ul
                                    li
                                        a(href='vendor-setting.html') Payment Methods
                                    li
                                        a(href='contact.html') Money-back guarantee!
                                    li
                                        a(href='contact.html') Products Returns
                                    li
                                        a(href='contact.html') Support Center
                                    li
                                        a(href='vendor-list.html') Shipping
                                    li
                                        a(href='contact.html') Term and Conditions
        .footer-bottom
            .container
                .row
                    .col-lg-6.col-md-7
                        .copyright-text
                            p Copyright &copy;2022 Olle All Rights Reserved
                    .col-lg-6.col-md-5
                        .cart-img.text-end
                            img(src='assets/img/images/cart_img.jpg' alt='')
// footer-area-end
