// START FOOTER
footer.bg_gray
    .footer_top.small_pt.pb_20
        .container
            .row
                .col-lg-4.col-md-12.col-sm-12
                    .widget
                        .footer_logo
                            a(href='#')
                                img(src='assets/images/logo_dark.png' alt='logo')
                        p.mb-3
                            | If you are going to use of Lorem Ipsum need to be sure there isn&apos;t anything
                            | hidden of text
                        ul.contact_info
                            li
                                i.ti-location-pin
                                p 123 Street, Old Trafford, NewYork, USA
                            li
                                i.ti-email
                                a(href='mailto:info@sitename.com') info@sitename.com
                            li
                                i.ti-mobile
                                p + 457 789 789 65
                .col-lg-2.col-md-4.col-sm-6
                    .widget
                        h6.widget_title Useful Links
                        ul.widget_links
                            li
                                a(href='#') About Us
                            li
                                a(href='#') FAQ
                            li
                                a(href='#') Location
                            li
                                a(href='#') Affiliates
                            li
                                a(href='#') Contact
                .col-lg-2.col-md-4.col-sm-6
                    .widget
                        h6.widget_title My Account
                        ul.widget_links
                            li
                                a(href='#') My Account
                            li
                                a(href='#') Discount
                            li
                                a(href='#') Returns
                            li
                                a(href='#') Orders History
                            li
                                a(href='#') Order Tracking
                .col-lg-4.col-md-4.col-sm-12
                    .widget
                        h6.widget_title Instagram
                        ul.widget_instafeed.instafeed_col4
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img1.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img2.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img3.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img4.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img5.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img6.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img7.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
                            li
                                a(href='#')
                                    img(src='assets/images/insta_img8.jpg' alt='insta_img')
                                    span.insta_icon
                                        i.ti-instagram
    .middle_footer
        .container
            .row
                .col-12
                    .shopping_info
                        .row.justify-content-center
                            .col-md-4
                                .icon_box.icon_box_style2
                                    .icon
                                        i.flaticon-shipped
                                    .icon_box_content
                                        h5 Free Delivery
                                        p Phasellus blandit massa enim elit of passage varius nunc.
                            .col-md-4
                                .icon_box.icon_box_style2
                                    .icon
                                        i.flaticon-money-back
                                    .icon_box_content
                                        h5 30 Day Returns Guarantee
                                        p Phasellus blandit massa enim elit of passage varius nunc.
                            .col-md-4
                                .icon_box.icon_box_style2
                                    .icon
                                        i.flaticon-support
                                    .icon_box_content
                                        h5 27/4 Online Support
                                        p Phasellus blandit massa enim elit of passage varius nunc.
    .bottom_footer.border-top-tran
        .container
            .row.align-items-center
                .col-lg-4
                    p.mb-lg-0.text-center &copy; 2020 All Rights Reserved by Bestwebcreator
                .col-lg-4.order-lg-first
                    .widget.mb-lg-0
                        ul.social_icons.text-center.text-lg-left
                            li
                                a.sc_facebook(href='#')
                                    i.ion-social-facebook
                            li
                                a.sc_twitter(href='#')
                                    i.ion-social-twitter
                            li
                                a.sc_google(href='#')
                                    i.ion-social-googleplus
                            li
                                a.sc_youtube(href='#')
                                    i.ion-social-youtube-outline
                            li
                                a.sc_instagram(href='#')
                                    i.ion-social-instagram-outline
                .col-lg-4
                    ul.footer_payment.text-center.text-lg-right
                        li
                            a(href='#')
                                img(src='assets/images/visa.png' alt='visa')
                        li
                            a(href='#')
                                img(src='assets/images/discover.png' alt='discover')
                        li
                            a(href='#')
                                img(src='assets/images/master_card.png' alt='master_card')
                        li
                            a(href='#')
                                img(src='assets/images/paypal.png' alt='paypal')
                        li
                            a(href='#')
                                img(src='assets/images/amarican_express.png' alt='amarican_express')
// END FOOTER
