header#sticky-header
    .header-top-area
        .container
            .row.align-items-center
                .col-md-6
                    .header-top-left
                        a(href='#') GẠCH ỐP LÁT THÁI HÀ
                .col-md-6
                    .header-top-right
                        ul
                            li
                                a(href='#') HotLine : 0904506621
                            li
                                a(href='#') Tài khoản ngân hàng
                            li
                                a(href='#') Hỗ trợ
                            li
                                a(href='#') Liên hệ
                            li
                                a(href='#') Báo giá
    .header-search-area
        .container
            .row.align-items-center
                .col-xl-2.col-lg-3
                    .logo
                        a(href='/')
                            img(src='https://gachtot.vn/wp-content/uploads/2018/04/gach-tot-vn.png' alt='')
                .col-xl-10.col-lg-9
                    .d-block.d-sm-flex.align-items-center.justify-content-end
                        .header-search-wrap
                            form(action='#')
                                input(type='text' placeholder='Search for product...')
                                button
                                    i.fas.fa-search
                        .header-action
                            ul
                                li.header-shop
                                    a(href='#')
                                        i.flaticon-shopping-bag
                                        | Giỏ hàng
                                        span.cart-count 0
    include ./menu-area-v2
// header-area-end
