// best-sell-product-area
section.best-sell-product-area.pt-80.pb-90
    .container
        .row.justify-content-center
            .col-lg-12
                .section-title.text-center.mb-60
                    h2.title Find Best Seller Vendor
        .row
            .col-lg-12
                .best-sell-nav
                    ul#myTab.nav.nav-tabs(role='tablist')
                        li.nav-item(role='presentation')
                            button#all-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#all' type='button' role='tab' aria-controls='all' aria-selected='true')
                                i.flaticon-shipping
                                span All Categories
                        li.nav-item(role='presentation')
                            button#watch-tab.nav-link(data-bs-toggle='tab' data-bs-target='#watch' type='button' role='tab' aria-controls='watch' aria-selected='false')
                                i.flaticon-smartwatch
                                span smart watch
                        li.nav-item(role='presentation')
                            button#electronics-tab.nav-link(data-bs-toggle='tab' data-bs-target='#electronics' type='button' role='tab' aria-controls='electronics' aria-selected='false')
                                i.flaticon-lamp
                                span Consumer Electronics
                        li.nav-item(role='presentation')
                            button#appliance-tab.nav-link(data-bs-toggle='tab' data-bs-target='#appliance' type='button' role='tab' aria-controls='appliance' aria-selected='false')
                                i.flaticon-kitchen-utensils
                                span home appliance
                        li.nav-item(role='presentation')
                            button#shoes-tab.nav-link(data-bs-toggle='tab' data-bs-target='#shoes' type='button' role='tab' aria-controls='shoes' aria-selected='false')
                                i.flaticon-high-heels-1
                                span Shoes &amp; Accessories
                        li.nav-item(role='presentation')
                            button#sports-tab.nav-link(data-bs-toggle='tab' data-bs-target='#sports' type='button' role='tab' aria-controls='sports' aria-selected='false')
                                i.flaticon-sport-equipment
                                span Sports &amp; Entertainment
                #myTabContent.tab-content
                    #all.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='all-tab')
                        .row.mb-20
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-sliders
                                                    .content
                                                        h2.title
                                                            a(href='#') Theme Beyond Technology.Ltd
                                                        ul
                                                            li 2 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 40k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $45,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 5,000,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product01.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product02.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product03.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product04.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                        .row
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Olle Technology.Ltd
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product05.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product06.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product07.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product08.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                    #watch.tab-pane.fade(role='tabpanel' aria-labelledby='watch-tab')
                        .row.mb-20
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Fashion Max
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product09.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') Shoes $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product10.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') cap $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product11.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') watch $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product12.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') watch $5.08
                                                            span 15k+ (Sale)
                        .row
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Olle Technology.Ltd
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product05.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product06.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product07.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product08.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                    #electronics.tab-pane.fade(role='tabpanel' aria-labelledby='electronics-tab')
                        .row.mb-20
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Olle Technology.Ltd
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product05.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product06.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product07.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product08.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                        .row
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Fashion Max
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product09.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') Shoes $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product10.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') cap $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product11.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') watch $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product12.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') watch $5.08
                                                            span 15k+ (Sale)
                    #appliance.tab-pane.fade(role='tabpanel' aria-labelledby='appliance-tab')
                        .row.mb-20
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-sliders
                                                    .content
                                                        h2.title
                                                            a(href='#') Theme Beyond Technology.Ltd
                                                        ul
                                                            li 2 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 40k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $45,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 5,000,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product01.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product02.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product03.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product04.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                        .row
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Olle Technology.Ltd
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product05.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product06.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product07.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product08.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                    #shoes.tab-pane.fade(role='tabpanel' aria-labelledby='shoes-tab')
                        .row.mb-20
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Olle Technology.Ltd
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product05.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product06.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product07.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product08.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                        .row
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-sliders
                                                    .content
                                                        h2.title
                                                            a(href='#') Theme Beyond Technology.Ltd
                                                        ul
                                                            li 2 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 40k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $45,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 5,000,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product01.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product02.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product03.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product04.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
                    #sports.tab-pane.fade(role='tabpanel' aria-labelledby='sports-tab')
                        .row.mb-20
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Fashion Max
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product09.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') Shoes $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product10.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') cap $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product11.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') watch $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='blog-details.html')
                                                                img(src='assets/img/product/vendor_product12.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='blog-details.html') watch $5.08
                                                            span 15k+ (Sale)
                        .row
                            .col-xl-12
                                .vendor-wrap
                                    .row
                                        .col-xl-5.col-lg-8
                                            .vendor-content
                                                .content-top.mb-20
                                                    .icon
                                                        i.fa-solid.fa-shield
                                                    .content
                                                        h2.title
                                                            a(href='#') Olle Technology.Ltd
                                                        ul
                                                            li 1 year
                                                            li
                                                                a(href='#')
                                                                    | Verified
                                                                    img(src='assets/img/icon/verified_icon.png' alt='')
                                                            li 13k Customer
                                                .ranking.mb-30
                                                    ul
                                                        li No.1 Vendor Rankings
                                                        li Annual Sales $5,000,00
                                                .vendor-services
                                                    ul
                                                        li
                                                            h2.title +/- 5 hr
                                                            p Response Time
                                                        li
                                                            h2.title 200,00+
                                                            p Transtctions
                                                        li
                                                            h2.title 100%
                                                            p On-time delivery
                                        .col-xl-7.col-lg-12
                                            .vendor-product-wrap
                                                ul
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product05.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Gloves $9.08
                                                            span 15 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product06.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') watch $8.08
                                                            span 15k+ (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product07.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Shoes $9.08
                                                            span 03 (Sale)
                                                    li.vendor-product
                                                        .thumb
                                                            a(href='shop-details.html')
                                                                img(src='assets/img/product/vendor_product08.png' alt='')
                                                        .content
                                                            h2.title
                                                                a(href='shop-details.html') Cap $5.08
                                                            span 15k+ (Sale)
// best-sell-product-area-end
