// choose-product-area
section.choose-product-area.pt-80.pb-70
    .container
        .row.justify-content-center
            .col-lg-12
                .section-title.text-center.mb-40
                    h2.title Choose Category
        .row.justify-content-center
            .col-xl-3.col-lg-4.col-md-6.col-sm-8
                .add-banner
                    .add-banner-img.mb-20
                        a(href='shop.html')
                            img(src='assets/img/images/add_banner_img01.jpg' alt='img')
                    .add-banner-content
                        span On the weekend
                        h2.title Top Clothing
                        a.btn.btn-two(href='shop.html') shop now
            .col-xl-3.col-lg-4.col-md-6.col-sm-8
                .row
                    .col-md-12
                        .category-item-wrap.mb-20
                            h4.title Top Rankings
                            ul.category-item-list
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img01.jpg' alt='')
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img02.jpg' alt='')
                    .col-md-12
                        .category-item-wrap.mb-20
                            h4.title Home Appliances
                            ul.category-item-list
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img03.jpg' alt='')
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img04.jpg' alt='')
            .col-xl-3.col-lg-4.col-md-6.col-sm-8
                .row
                    .col-md-12
                        .category-item-wrap.mb-20
                            h4.title Smart phone
                            ul.category-item-list
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img05.jpg' alt='')
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img06.jpg' alt='')
                    .col-md-12
                        .category-item-wrap.mb-20
                            h4.title Sports
                            ul.category-item-list
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img07.jpg' alt='')
                                li.category-item
                                    a(href='shop.html')
                                        img(src='assets/img/product/category_product_img08.jpg' alt='')
            .col-xl-3.col-lg-5.col-md-6.col-sm-8
                .join-olle-wrap
                    .icon
                        a(href='#')
                            i.fa-solid.fa-user
                    h3.title Welcome to Olle
                    .join-btn
                        a.btn(href='contact.html') Join Us
                        a.btn(href='contact.html') Sign In
                    a(href='shop.html')
                        img(src='assets/img/images/jo_img.jpg' alt='')
// choose-product-area-end
