// super-deals-area
section.super-deals-product-area.pt-30.pb-70
    .container
        .row
            .col-xl-12
                .product-wrap.mb-30
                    .row.align-items-center.mb-20
                        .col-xl-3.col-lg-4.col-md-3
                            .section-title
                                h2.title
                                    | Super
                                    span Deals
                        .col-xl-6.col-lg-6.col-md-7
                            .super-deals-countdown
                                p Top products. Incredible prices
                                .coming-time(data-countdown='2023/4/30')
                        .col-xl-3.col-lg-2.col-md-2
                            .view-more.text-end
                                a(href='shop.html') View more
                    .row.custom.justify-content-center
                        each item in [1,2,3,4]
                            .col-xl-2.col-lg-3.col-md-4.col-sm-6
                                include ../../components/shop/product-item.pug
        .row.justify-content-center
            .col-xl-6.col-lg-9
                .product-wrap.top-product.mb-20
                    .row.mb-20
                        .col-sm-6
                            .product-title
                                h4.title Top Selection
                        .col-sm-6
                            .view-more.text-end
                                a(href='shop.html') View more
                    .row.custom.justify-content-center
                        each item in [1,2,3,4]
                            .col-md-4.col-sm-6
                                include ../../components/shop/product-item.pug
            .col-xl-6.col-lg-9
                .product-wrap.top-product.mb-20
                    .row.mb-20
                        .col-sm-6
                            .product-title
                                h4.title New arrivals
                        .col-sm-6
                            .view-more.text-end
                                a(href='shop.html') View more
                    .row.custom.justify-content-center
                        each item in [1,2,3,4]
                            .col-md-4.col-sm-6
                                include ../../components/shop/product-item.pug
// super-deals-area-end
