// super-deals-area
section.super-deals-product-area.pt-30.pb-70
    .container
        .row
            .col-xl-12
                .product-wrap.mb-30
                    .row.align-items-center.mb-20
                        .col-xl-3.col-lg-4.col-md-3
                            .section-title
                                h2.title
                                    | Super
                                    span Deals
                        .col-xl-6.col-lg-6.col-md-7
                            .super-deals-countdown
                                p Top products. Incredible prices
                                .coming-time(data-countdown='2023/4/30')
                        .col-xl-3.col-lg-2.col-md-2
                            .view-more.text-end
                                a(href='shop.html') View more
                    .row.custom.justify-content-center
                        .col-xl-2.col-lg-3.col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product01.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Watch $29.08
                                            span -35%
                                    p 0 orders
                        .col-xl-2.col-lg-3.col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product02.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Backup $29.08
                                            span -25%
                                    p 05 orders
                        .col-xl-2.col-lg-3.col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product03.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Fashion $15.08
                                            span -35%
                                    p 13 orders
                        .col-xl-2.col-lg-3.col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product04.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Watch $29.08
                                            span -35%
                                    p 50 orders
                        .col-xl-2.col-lg-3.col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product05.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Accessories
                                            span -15%
                                    p 02 orders
                        .col-xl-2.col-lg-3.col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product06.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Jewellery $29.08
                                            span -20%
                                    p 20 orders
        .row.justify-content-center
            .col-xl-6.col-lg-9
                .product-wrap.top-product.mb-20
                    .row.mb-20
                        .col-sm-6
                            .product-title
                                h4.title Top Selection
                        .col-sm-6
                            .view-more.text-end
                                a(href='shop.html') View more
                    .row.custom.justify-content-center
                        .col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product07.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | launch $29.08
                                            span -30%
                                    p 40 orders
                        .col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product08.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Watch $29.08
                                            span -40%
                                    p 20 orders
                        .col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product09.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | phone $29.08
                                            span -10%
                                    p 30 orders
            .col-xl-6.col-lg-9
                .product-wrap.top-product.mb-20
                    .row.mb-20
                        .col-sm-6
                            .product-title
                                h4.title New arrivals
                        .col-sm-6
                            .view-more.text-end
                                a(href='shop.html') View more
                    .row.custom.justify-content-center
                        .col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product10.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | launch $29.08
                                            span -30%
                                    p 40 orders
                        .col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product11.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | Watch $29.08
                                            span -40%
                                    p 20 orders
                        .col-md-4.col-sm-6
                            .product-item.mb-30
                                .product-thumb
                                    a(href='shop-details.html')
                                        img(src='assets/img/product/super_product12.jpg' alt='')
                                .product-content
                                    h4.title
                                        a(href='shop-details.html')
                                            | phone $29.08
                                            span -10%
                                    p 30 orders
// super-deals-area-end
