.product-item.mb-30
    .product-thumb
        a(href='shop-details.html')
            img(src='https://gachtot.vn/wp-content/uploads/2021/12/6060VICTORIA001-300x300.jpg' alt='')
    .product-content
        h4.title
            a(href='shop-details.html')
                | Gạch Ốp Lát 60×60 Trung Quốc 1566B07
                span 660.000đ