.product-item.mb-30
    .product-thumb
        a(href='shop-details.html')
            img(src='assets/img/product/super_product03.jpg' alt='')
    .product-content
        h4.title
            a(href='shop-details.html')
                | Fashion $15.08
                span -35%
        p 13 orders