.shop-product-item.mb-30
    .shop-thumb
        a(href='shop-details.html')
            img(src='assets/img/product/shop_img01.png' alt='img')
        span New
    .shop-content
        ul.tag
            li
                | Sold by
                a(href='vendor-profile.html') Market Store
        h2.title
            a(href='shop-details.html') Electric Blender Mixer Food
        .rating
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
        span Already Sold : 75%
        .progress
            .progress-bar.w-75(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
        .content-bottom
            h4.price $39.08
            p
                | 0 orders
                span -35%
