include ../common/Data.pug
include ../common/Functions.pug

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title Olle - Price Comparison with Multi-vendor Store HTML Template
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.png')
        // Place favicon.ico in the root directory
        // CSS here
        link(rel='stylesheet' href='assets/css/bootstrap.min.css')
        link(rel='stylesheet' href='assets/css/animate.min.css')
        link(rel='stylesheet' href='assets/css/fontawesome-all.min.css')
        link(rel='stylesheet' href='assets/css/mCustomScrollbar.min.css')
        link(rel='stylesheet' href='assets/css/flaticon.css')
        link(rel='stylesheet' href='assets/css/slick.css')
        link(rel='stylesheet' href='assets/css/jquery-ui.css')
        link(rel='stylesheet' href='assets/css/default.css')
        link(rel='stylesheet' href='assets/css/style.css')
        link(rel='stylesheet' href='assets/css/responsive.css')
    body
        // Preloader
        #preloader
            #preloader-status
                .preloader-position.loader
                    span
        // Preloader end
        // Scroll-top
        button.scroll-top.scroll-to-target(data-target='html')
            i.fas.fa-angle-up
        // Scroll-top-end
        include ../containers/header/header-v1.pug
        main
           block pages
           section.newsletter-area.pb-90
                   .container
                       .row
                           .col-lg-12
                               .newsletter-wrap
                                   .newsletter-content
                                       h2.title
                                           | Để lại Email của bạn để được tư vấn !
                                       p Get 10% off new collection special Investigationes demonstraverunt
                                   .newsletter-form
                                       form(action='#')
                                           input(type='text' placeholder='Your email here...')
                                           button(type='submit') Subscribe

        include ../containers/footer/footer-v1.pug
        block script
        // JS here
        script(src='assets/js/vendor/jquery-3.6.0.min.js')
        script(src='assets/js/bootstrap.min.js')
        script(src='assets/js/isotope.pkgd.min.js')
        script(src='assets/js/imagesloaded.pkgd.min.js')
        script(src='assets/js/jquery.countdown.min.js')
        script(src='assets/js/jquery.mCustomScrollbar.min.js')
        script(src='assets/js/jquery-ui.min.js')
        script(src='assets/js/slick.min.js')
        script(src='assets/js/wow.min.js')
        script(src='assets/js/main.js')
