section.abouts.mt-5
    .container
        .row.mb-5
            .col-lg-6.order-lg-1
                .about-items
                    h3 GẠCH LÁT NỀN
                    h4 Nội thất – Ngoại thất
                    .style-content
                        p Các loại gạch lát nền Nội thất và Ngoại thất đẹp. Gạch granite và ceramic công nghệ mới, tính thẩm mỹ cao và độ bền lâu năm. Nhiều loại gạch lát cao cấp cho Biệt thự, Nhà vườn, Chung cư,…
                        p Gạch lát Phòng khách, phòng tắm nhà vệ sinh và nhà bếp với hàng nghìn mẫu gạch men mới, cập nhật liên tục.
                        a(href="product-list.html") Xem sản phẩm
            .col-lg-6.order-lg-2
                img(src="https://gachtot.vn/wp-content/uploads/2021/12/gach-lat-nen.jpg" width="100%" alt="https://gachtot.vn/wp-content/uploads/2021/12/gach-lat-nen.jpg")
        .row.mb-5
            .col-lg-6.order-lg-2
                .about-items
                    h3 GẠCH LÁT NỀN
                    h4 Gạch thẻ, Viền điểm và Trang trí
                    .style-content
                        p Các loại gạch lát nền Nội thất và Ngoại thất đẹp. Gạch granite và ceramic công nghệ mới, tính thẩm mỹ cao và độ bền lâu năm. Nhiều loại gạch lát cao cấp cho Biệt thự, Nhà vườn, Chung cư,…
                        p Gạch lát Phòng khách, phòng tắm nhà vệ sinh và nhà bếp với hàng nghìn mẫu gạch men mới, cập nhật liên tục.
                        a(href="product-list.html") Xem sản phẩm
            .col-lg-6.order-lg-1
                img(src="https://gachtot.vn/wp-content/uploads/2021/12/gach-lat-nen.jpg" width="100%" alt="https://gachtot.vn/wp-content/uploads/2021/12/gach-lat-nen.jpg")
        .row.mb-5
            .col-lg-6.order-lg-1
                .about-items
                    h3 GẠCH TRANG TRÍ
                    h4 Gạch ốp trang trí kiến trúc
                    .style-content
                        p Các loại gạch lát nền Nội thất và Ngoại thất đẹp. Gạch granite và ceramic công nghệ mới, tính thẩm mỹ cao và độ bền lâu năm. Nhiều loại gạch lát cao cấp cho Biệt thự, Nhà vườn, Chung cư,…
                        p Gạch lát Phòng khách, phòng tắm nhà vệ sinh và nhà bếp với hàng nghìn mẫu gạch men mới, cập nhật liên tục.
                        a(href="product-list.html") Xem sản phẩm
            .col-lg-6.order-lg-2
                img(src="https://gachtot.vn/wp-content/uploads/2021/12/gach-lat-nen.jpg" width="100%" alt="https://gachtot.vn/wp-content/uploads/2021/12/gach-lat-nen.jpg")