section.About
  .container
    .About-wrapper.flex.flex-wrap.items-end
      .About-wrapper-item
        .About-image 
          img(src="./assets/images/image-about.png", alt="")

      .About-wrapper-item
        .About-title.flex.items-center.justify-center.wow.animate__animated.animate__fadeInUp
          h2 Giới thiệu về KingStudy

        .About-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s 
        .About-btns.flex.flex-wrap 
          +Button({ title: 'Liên hệ', className: 'secondary js-open-modal', size: 'small', dataModalId: '#ModalContactInformation' })
          +Button({ title: 'Nộp hồ sơ', size: 'small' })