section.Advisory
  .container 
    .Advisory-wrapper
      .Advisory-title.wow.animate__animated.animate__fadeInUp
        h2 Chuyên gia tư vấn

      .Advisory-list.flex.flex-wrap
        each item in [1,2,3,4,5,6,7,8]
          .Advisory-list-col
            .Advisory-list-item
              .Advisory-list-item-avatar 
                img(src=`./assets/images/image-avatar.png`, alt="")

              h4.Advisory-list-item-title Tran Thanh Hung
              p.Advisory-list-item-description Giám đốc điều hành