section.BannerInfo
    .BannerInfo-wrapper.flex.flex-wrap
        .BannerInfo-wrapper-item.bg-red-regular
            .BannerInfo-wrapper-item-content
                 .BannerInfo-wrapper-item-content-icon
                     img(src="assets/icons/vison.svg" width="60px")
                 h3.BannerInfo-wrapper-item-content-title Creative
                 p.BannerInfo-wrapper-item-content-desc Chúng tôi luôn khuyến khích sự sáng tạo đổi mới trong từng chi tiết, biến những ý tưởng không tưởng thành những sản phẩm tuyệt vời.
        .BannerInfo-wrapper-item.has-image
            a(href="#")
                 img(src="https://cscmobi.com/wp-content/uploads/2018/09/img_creative_8.jpg")
        .BannerInfo-wrapper-item.bg-red-medium
            .BannerInfo-wrapper-item-content
                .BannerInfo-wrapper-item-content-icon
                    img(src="assets/icons/vison.svg" width="60px")
                h3.BannerInfo-wrapper-item-content-title Creative
                p.BannerInfo-wrapper-item-content-desc Chúng tôi luôn khuyến khích sự sáng tạo đổi mới trong từng chi tiết, biến những ý tưởng không tưởng thành những sản phẩm tuyệt vời.
        .BannerInfo-wrapper-item.has-image
            a(href="#")
                img(src="https://cscmobi.com/wp-content/uploads/2018/09/img_creative_8.jpg")
        .BannerInfo-wrapper-item.bg-black-medium
            .BannerInfo-wrapper-item-content
                .BannerInfo-wrapper-item-content-icon
                    img(src="assets/icons/vison.svg" width="60px")
                h3.BannerInfo-wrapper-item-content-title Creative
                p.BannerInfo-wrapper-item-content-desc Chúng tôi luôn khuyến khích sự sáng tạo đổi mới trong từng chi tiết, biến những ý tưởng không tưởng thành những sản phẩm tuyệt vời.
        .BannerInfo-wrapper-item.has-image
            a(href="#")
                img(src="https://cscmobi.com/wp-content/uploads/2018/09/img_creative_8.jpg")
