section.BannerSocial
    .container
        .row
            each items in [1,2,3]
                .col-lg-4.BannerSocial-mobile.wow.animate__animated.animate__fadeInRight
                    img(src="./assets/images/applestore.png")