section.Country
   .container
       .Country-title.flex.items-center.justify-center.wow.animate__animated.animate__fadeInUp
           h2 Quốc gia du học
       .row
           .col-md-4
               .Country-item
                   img(src="./assets/images/image-country.png" )
                   p.Country-item-name.text-center Anh Quốc
           .col-md-4
               .Country-item
                   img(src="./assets/images/image-country.png" )
                   p.Country-item-name.text-center Nước úc
           .col-md-4
               .Country-item
                   img(src="./assets/images/image-country.png" )
                   p.Country-item-name.text-center Nước Mỹ