footer.Footer
  .Footer-wrapper 
    .container 
      .Footer-wrapper-top.flex.flex-wrap.items-center.justify-between
        .Footer-wrapper-top-logo.mb-5.mb-lg-0
           img(src="https://cscmobi.com/wp-content/uploads/2018/09/cscmobi-logo-white.png" height="71" width="234")
        ul.Footer-wrapper-bottom-list.mb-0
          li.Footer-wrapper-bottom-list-item  CSCMOBI VIET NAM TECHNOLOGY JOINT STOCK COMPANY
          li.Footer-wrapper-bottom-list-item  Cscmobi Viet Nam Technology Joint Stock Company
          li.Footer-wrapper-bottom-list-item  CÔNG TY CỔ PHẦN CÔNG NGHỆ CSCMOBI VIỆT NAM
          li.Footer-wrapper-bottom-list-item  Địa chỉ: Số 18 ngõ 9, tổ 14, Phường Phú Lương, Quận Hà Đông, Hà Nội, Hà Nội 100000, Việt Nam
        ul.Footer-wrapper-top-icon
          a(href="#")
             img(src="assets/icons/face.svg")
          a(href="#")
            img(src="assets/icons/twit.svg")
          a(href="#")
            img(src="assets/icons/tele.svg")
      .Footer-wrapper-bottom

          ul.Footer-wrapper-bottom-list.flex.items-center
            li.Footer-wrapper-bottom-list-item
                a(href="") Home
            li.Footer-wrapper-bottom-list-item
              a(href="") Về chúng tôi
            li.Footer-wrapper-bottom-list-item
              a(href="") Sản phẩm
            li.Footer-wrapper-bottom-list-item
              a(href="") Hoạt động
