header.Header
  .container 
    .Header-wrapper.flex.items-center.justify-between
      a(href="index.html").Header-logo
        img(src="./assets/icons/logo.svg" alt="" width="200")
      .Header-actions.flex.items-center
        .Header-actions-item.menu
          .Header-actions-item-icon 
            img(src="./assets/icons/icon-menu.svg" alt="")
          .Header-actions-item-label
