.HeroBanner
    .row
        .col-lg-6
            .HeroBanner-left.wow.animate__animated.animate__fadeInUp
                .HeroBanner-left-header
                    h1.HeroBanner-left-header-title
                        p.HeroBanner-left-header-title-sub CSCMOBI
                        span.HeroBanner-left-header-title-content.d-block
                            |Theo đuổi đam mê
                            br
                            strong Thành công sẽ theo đuổi bạn
                    .HeroBanner-left-action.flex
                        +Button({
                            title: 'Tuyển dụng',
                            className: 'secondary',
                            size: 'small',
                        })
                        +Button({title: 'Liên hệ', size: 'small'})
        .col-lg-6
            .Hero-banner-right