section.HomeBanner
  .HomeBanner-wrapper 
    .owl-carousel#HomeBanner-carousel 
      each item in [1,2,3]
        .HomeBanner-carousel-item 
          img(src="./assets/images/image-home-banner.png", alt="")