section.JoinTeam.mt-5
   .container
       +TitleHeader({ title:'Bạn muốn tham gia cùng',subtitle:'CSCMobi team?' })
       .row
           each items in dataIconServiceTeam
               .col-lg-3.mb-5
                   +CardItem({
                       icon: true,
                       className: 'vertical text-center',
                       nameIcon: "assets/icons/game.svg"
                   })
       .col-12
           .HeroBanner-left-action.flex.justify-center
               +Button({
                   link:'#',
                   title: 'Tuyển dụng',
                   className: 'secondary',
                   size: 'small',
               })
               +Button({title: 'Liên hệ', size: 'small', link:'#'})