-
  const dataNavigation = [
    { link: '/', label: 'Home' },
    { link: 'gioi-thieu.html', label: 'Về chúng tôi' },
    {
      link: 'san-pham.html',
      label: 'Sản phẩm',
      // children: [
      //   { link: '#', label: 'Khảo sát du học' },
      //   { link: '#', label: 'Du học ANh' },
      //   { link: '#', label: 'Du học úc' },
      //   { link: '#', label: 'Du Học Mỹ' },
      //   { link: '#', label: 'Du học canada' },
      //   { link: '#', label: 'Du học Hà lan' },
      // ],
    },
    { link: 'hoat-dong.html', label: 'Hoạt động' },
    { link: 'tuyen-dung.html', label: 'Tuyển dụng' },
    { link: 'lien-he.html', label: 'Liên hệ' },
    { link: 'Policy.html', label: 'Privacy' },
  ]

nav.Navigation
  .Navigation-overlay 
  .container 
    .Navigation-wrapper.flex.items-center
      .Navigation-logo
          a(href="#")
            img(src="./assets/icons/logo.svg", width="200")
      .Navigation-close 
        img(src="./assets/icons/icon-x.svg" alt="")

      .Navigation-list.flex.items-center
        each item in dataNavigation 
          .Navigation-list-wrapper
            if (item.children &&  item.children.length > 0)
              span.Navigation-list-item= item.label

            else
              a(href=`${item.link}`).Navigation-list-item= item.label

            if (item.children &&  item.children.length > 0)
              .Navigation-list-children
                each child in item.children
                  a(href=`${child.link}`).Navigation-list-item= child.label
      .Navigation-action.flex
          li.Navigation-action-soicial
              a(href="#").Navigation-action-soicial-link
                 img(src="https://alligayacht.com/images/vi.png")
          li.Navigation-action-soicial
            a(href="#").Navigation-action-soicial-link
              img(src="https://alligayacht.com/images/en.png")