section.Rewards
  .container 
    .Rewards-wrapper
      .Rewards-title.wow.animate__animated.animate__fadeInUp
        h2 Thành tựu đạt được

      .Rewards-list.flex.flex-wrap
        each item in [1,2,3,4]
          .Rewards-list-item
            .Rewards-list-item-icon 
              img(src=`./assets/icons/icon-reward-${item}.svg`, alt="")

            h3.Rewards-list-item-title Lorem Ipsum is simply dummy text of the printing and 

            .line

            p.Rewards-list-item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 