section.TeamBuilding
    .container
        +TitleHeader({ title:'CSCMobi',subtitle:'Mobile Services' })
        .row
            each items in [1,2,3]
                .col-lg-4.mb-4
                    +CardItem({
                        src: 'https://cscmobi.com/wp-content/uploads/2018/09/anh01.jpg',
                        width: "100%",
                        className: 'vertical building',
                        isGallery: false,
                        link: 'chi-tiet-hoat-dong.html',
                    })
                        block category
                            p.TeamBuilding-category Games