section.Welcome
  .Welcome-wrapper 
    .Welcome-title.flex.items-center.justify-center.wow.animate__animated.animate__fadeInUp
      h2 Chào mừng tới KingStudy
    .container
      .Welcome-row.flex.flex-wrap
        .Welcome-row-item
          .Welcome-row-item-content
            p KingStudy là đơn vị tư vấn, kết nối du học với 10 năm kinh nghiệm. Khi đến với King Study, bạn sẽ được hỗ trợ về thông tin về du học, học bổng và hướng dẫn hồ sơ, thủ tục.
            ul
              li 10 năm kinh nghiệm tư vấn và kết nối
              li Tư vấn tận tình, chi tiết
              li Làm việc chuyên nghiệp, uy tín, có lộ trình rõ ràng
        .Welcome-row-item.first.image
          .Welcome-row-item-image
            img(src="./assets/images/image-welcome-1.png" alt="")