// blog-area
section.blog-area.pt-55.pb-60
    .container
        .row.mb-40
            .col-lg-6.col-md-6
                .section-title
                    h2.title Most Popular Blog
            .col-lg-6.col-md-6
                .view-btn.text-end
                    a(href='blog.html')
                        | View All Post
                        i.fa-solid.fa-angle-right
        .row.justify-content-center
            .col-xl-4.col-lg-6.col-md-6.col-sm-9
                include ../../components/blogs/blog-item.pug
// blog-area-end
