.section.small_pt.pb_70
    .container
        .row.justify-content-center
            .col-lg-6.col-md-8
                .heading_s1.text-center
                    h2 Tin tức mới
                p.leads.text-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        .row.justify-content-center
            each item in [1,2,3,4,5,6]
                .col-lg-4.col-md-6
                   include ../../components/blogs/blog-item