.SurveyPage {
  &-wrapper {
    padding: 4rem 0;
    row-gap: 4rem;
    column-gap: 2rem;

    &-item {
      flex: 1;

      &:nth-child(2) {
        flex: 0 0 38.5rem;
        max-width: 38.5rem;
      }

      @media (max-width: 991px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
  }

  .Card {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .Radio {
    padding: 1.2rem 1.8rem;

    &:not(:last-child) {
      border-bottom: 1px solid $silver;
    }
  }

  &-nations {
    row-gap: 3rem;
    margin: 0 -2rem;

    &-col {
      padding: 0 2rem;
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4);

      @media (max-width: 1200px) {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }

      @media (max-width: 768px) {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
      }
    }

    &-item {
      position: relative;

      input {
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        @include fullAbsolute;

        &:checked~.SurveyPage-nations-item-control {
          &::before {
            opacity: 1;
          }
        }
      }

      &-control {
        position: absolute;
        top: .6rem;
        right: .6rem;
        width: 2rem;
        height: 2rem;
        background: $white;
        border-radius: .5rem;
        overflow: hidden;

        &::before {
          @include fullAbsolute;
          content: '';
          background: url('../icons/icon-checkbox-checked.svg');
          background-size: cover;
          background-position: center;
          opacity: 0;
          transition: $common-transition;
        }
      }

      &-image {
        border-radius: .5rem;
        overflow: hidden;
        height: 14rem;
        @include centerScaleImage;
        margin-bottom: 1.2rem;
      }

      &-title {
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }

  &-major {
    &-title {
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 3rem 0;
    }

    &-score {
      &-item {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        input[type="checkbox"] {
          position: absolute;
          top: 1.2rem;
          left: 0;
          width: 2.5rem;
          height: 2.5rem;
          opacity: 0;
          z-index: 2;
          cursor: pointer;

          &:checked~.SurveyPage-major-score-item-info .SurveyPage-major-score-item-info-form {
            border-top-width: 1px;
            padding: 2.4rem 1.6rem;
            max-height: 100vh;
            overflow: auto;
          }

          &:checked~.SurveyPage-major-score-item-control {
            background: $backgroundOrangeGradient;
            border-color: $backgroundOrangeGradient;

            &::before {
              opacity: 1;
            }
          }
        }

        &-control {
          position: relative;
          margin-top: 1.2rem;
          margin-right: 2.5rem;
          width: 2.5rem;
          max-width: 2.5rem;
          height: 2.5rem;
          background: $white;
          border-radius: .5rem;
          overflow: hidden;
          border: 1px solid $silver;
          transition: $common-transition;

          &::before {
            @include fullAbsolute;
            content: '';
            background: url('../icons/icon-checkbox-checked.svg');
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: $common-transition;
          }
        }

        &-info {
          flex: 1;
          border-radius: .5rem;
          border: 1px solid $silver;

          &-title {
            padding: 1.2rem 1.5rem;
            font-size: 1.8rem;
          }

          &-form {
            border-top: 0px solid $silver;
            padding: 0rem 1.6rem;
            max-height: 0;
            transition: $common-transition;
            overflow: hidden;

            p {
              font-size: 1.8rem;
              margin-bottom: 2.5rem;
            }
          }
        }
      }
    }
  }

  &-start-time {
    row-gap: 2rem;
    column-gap: 2rem;

    &-item {
      position: relative;
      overflow: hidden;
      flex: 1;
      border-radius: .5rem;
      min-width: 30rem;

      input {
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        @include fullAbsolute;

        &:checked~.SurveyPage-start-time-item-label {
          border-color: $flamingo;
        }

        &:checked~.SurveyPage-start-time-item-control {
          opacity: 1;
        }
      }

      &-label {
        border-radius: .5rem;
        padding: 1rem 1.6rem;
        white-space: nowrap;
        border: 1px solid $silver;
        transition: $common-transition;
        font-size: 1.8rem;
      }

      &-control {
        position: absolute;
        width: 4rem;
        height: 4rem;
        background: $backgroundOrangeGradient;
        top: 0;
        right: 0;
        transition: $common-transition;
        opacity: 0;
        transform: translate(50%, -50%) rotate(45deg);
        display: flex;

        img {
          width: 1rem;
          margin: auto;
          transform: translate(0px, 1.2rem) rotate(-45deg);
        }
      }
    }
  }

  &-submit {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 3rem;

    .Button {
      max-width: 50.8rem;
      width: 100%;
    }
  }
}