.breadcrumb_section.bg_gray.page-title-mini
    .container
        // STRART CONTAINER
        .row.align-items-center
            .col-md-6
                .page-title
                    h1 Product Detail
            .col-md-6
                ol.breadcrumb.justify-content-md-end
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item
                        a(href='#') Pages
                    li.breadcrumb-item.active Product Detail

