.Select {
  position: relative;

  &.bordered {
    border: 1px solid $silver;
    border-radius: .5rem;
    overflow: hidden;
  }

  &-control {
    outline: none;
    border: none;
    height: 5rem;
    padding: .4rem 2rem;
    font-size: 1.8rem;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    color: $black;
  }

  &-arrow {
    position: absolute;
    width: 1.2rem;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    img {
      width: 100%;
      margin: 0;
    }
  }
}