/* https://chir.ag/projects/name-that-color */

$white: #fff;
$black: #181818;

$silver: #c4c4c4;
$scorpion: #5F5E5E;
$cloud-burst: #1D2D47;
$flamingo: #F1592A;
$bridesmaid: #FEEFEA;
$thunder: #272425;
$iron: #D1D3D4;
$fiord: #455E67;
$ronchi: #EFB24B;
$bridesmaid: #FEEFEA;
$boulder: #777;
$bay-of-many: #234093;
$alto: #E0E0E0;
$athens-gray: #ECECEF;
$bon-jour: #EFECEF;
$concrete: #F3F3F3;
$japanese-laurel: #00820D;
$alabaster: #F9F8F9;
$backgroundOrangeGradient: #FF9431;
$backgroundBlueGradient: #F93132;
$gray: #F5F5F5;
$red: #fe0000;
$orange: #ff6700;
$green-gradient: linear-gradient(135deg,#a6e72a 20%,#53ba00 80%);
$blue-icon: #3b5998;
$tim:#1e1d32;
$orange:#f99734;