* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: Gotham, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;

  @media (max-width: 1440px) {
    font-size: 7px;
  }

  @media (max-width: 1200px) {
    font-size: 8px;
  }

  @media (max-width: 991px) {
    font-size: 9px;
  }
}

body {
  background-color: $tim!important;
  font-family: 'Roboto', sans-serif;
}

a {
  transition: $common-transition;
  text-decoration: none;
  &:hover{
    text-decoration: none!important;
  }
}
.style-content {
  color: white;
}
ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.style-content {
  h3 {
    font-size: 3.2rem;
    margin-bottom: 3.5rem;
    font-weight: 700;
  }

  h4 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  ul {
    list-style: disc;
    padding-left: 2rem;
    margin-bottom: 1.5rem;

    li {
      font-size: 1.6rem;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 3rem;
  }

  iframe {
    width: 100%;
    height: 40rem;
    margin-bottom: 3rem;

    &.map {
      border-radius: 1rem;
    }
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.sticky {
  position: sticky;
  top: 8px;

  @media (max-width: 991px) {
    position: unset;
  }
}
.bg-red-regular{
  background:  #1E1D32;
}
.bg-red-medium{
  background:  #1E1D32;
}
.bg-black-medium{
  background: $tim;
}
.About-pages-wrapper-item{
  width: 50%;
  @media (max-width: 992px) {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .Navigation-logo{
    display: none;
  }
}
.contacts-right-item{
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  max-width: 100%;
}
.product-banner-game{
  .CardItem-body-title{
    a{

    }
  }
  .CardItem-body-desc{

  }
}
a{
  &:hover{
    color: #FF9431!important;
  }
}