-
    const dataMegaMenu = [
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name:"Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },{
                        name: "Gạch catana",
                        href: "product-list.html",
                    },{
                        name: "Gạch catana",
                        href: "product-list.html",
                    },{
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
    ]
-
    const dataProduct = [
        {

        }
    ]