-
  const dataCustomers = [
    {
      image: './assets/images/image-customer.png',
      badge: '',
      title: 'Tran Thanh Hung',
      subtitle: 'Đại học Anh Quốc',
      description: `“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. “`,
    },
    {
      image: './assets/images/image-customer.png',
      badge: '',
      title: 'Tran Thanh Hung',
      subtitle: 'Đại học Anh Quốc',
      description: `“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. “`,
    },
    {
      image: './assets/images/image-customer.png',
      badge: '',
      title: 'Tran Thanh Hung',
      subtitle: 'Đại học Anh Quốc',
      description: `“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. “`,
    },
    {
      image: './assets/images/image-customer.png',
      badge: '',
      title: 'Tran Thanh Hung',
      subtitle: 'Đại học Anh Quốc',
      description: `“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. “`,
    }
  ]

  const dataLeaders = [
    {
      image: './assets/images/image-avatar.png',
      title: 'Tran Thanh Hung',
      subtitle: 'Giám đốc điều hành',
      description: `“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. “`,
    },
  ]

  const dataProfileTableContent = [
    { link: 'chinh-sua-thong-tin-ca-nhan.html', title: 'Tài khoản của bạn' },
    { link: 'theo-doi-ho-so.html', title: 'Theo dõi hồ sơ' },
    { link: 'quan-ly-ho-so.html', title: 'Quản lý hồ sơ' },
    { link: 'truong-yeu-thich.html', title: 'Trường yêu thích' },
    { link: 'dieu-khoan-chinh-sach.html', title: 'Điều khoản chính sách' },
    { link: 'doi-mat-khau.html', title: 'Đổi mật khẩu' },
  ]
  const dataIconServiceTop = [
    {iconName:'gamepad'},
    {iconName:'university'},
    {iconName:'search'},
    {iconName:'globe'},
    {iconName:'adjust'},
    {iconName:'handshake-o'},
  ];
  const dataIconServiceNumber = [
    {iconName: 'gamepad'},
    {iconName: 'search'},
    {iconName: 'cloud-download'},
  ]
  const dataIconServiceTeam = [
    {iconName: 'envira'},
    {iconName: 'clock-o'},
    {iconName: 'users'},
    {iconName: 'map-marker'},
  ]