-
    const dataMegaMenu = [
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name:"Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },{
                        name: "Gạch catana",
                        href: "product-list.html",
                    },{
                        name: "Gạch catana",
                        href: "product-list.html",
                    },{
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
        {
            name: "Health and Beauty",
            icon: "make-up",
            href: "product-list.html",
            children: {
                name: "Bán chạy",
                href: "product-list.html",
                columns: [
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },
                    {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    }, {
                        name: "Gạch catana",
                        href: "product-list.html",
                    },

                ]
            }
        },
    ]
-
    const listSize = [
        {
           link: '#',
           name: '80x240cm',
            number: 4,
        },{
           link: '#',
           name: '80x240cm',
            number: 3,
        },{
           link: '#',
           name: '80x240cm',
            number: 45,
        },{
           link: '#',
           name: '80x240cm',
            number: 44,
        },{
           link: '#',
           name: '80x240cm',
            number: 4,
        },{
           link: '#',
           name: '80x240cm',
            number: 4,
        },
    ]
-
    const listCategory = [
        {
            link: '#',
            name: 'Ceramic',
            number: 4,
        },{
            link: '#',
            name: 'Gạch vân đá Marble',
            number: 3,
        },{
            link: '#',
            name: 'Granit đồng chất',
            number: 45,
        },{
            link: '#',
            name: 'Granite',
            number: 44,
        },{
            link: '#',
            name: 'Procelian tile',
            number: 4,
        },{
            link: '#',
            name: 'Gạch Ceramic',
            number: 4,
        },
    ]
-
    const listMat = [
        {
            link: '#',
            name: 'Men mờ',
            number: 4,
        },{
            link: '#',
            name: 'Bề mặt nhám',
            number: 3,
        },{
            link: '#',
            name: 'Bề mặt nhẵn bóng',
            number: 45,
        }
    ]
-
    const listBst= [
        {
            link: '#',
            name: 'FOSILI',
            number: 4,
        }
    ]