-
  const dataMegaMenu = [
    {
       name: "Health and Beauty",
       icon: "make-up",
       link: "#",
       children: {
         name:"Accessories &amp; Parts",
         link: "#",
         columns: [
           {
             name: "Batteries",
             link: "#",
             children: [
               {
                 name: "Batteries",
                 link: "#",
               }
             ]
           }
         ]
       }
    }
  ]