// START SECTION BANNER
.banner_section.slide_medium.shop_banner_slider.staggered-animation-wrap
    #carouselExampleControls.carousel.slide.carousel-fade.light_arrow(data-ride='carousel')
        .carousel-inner
            .carousel-item.active.background_bg(data-img-src='https://gachtot.vn/wp-content/uploads/2021/12/gach-op-lat-hoang-mai-gachtot.jpg')
                .banner_slide_content
                    .container
                        .row
                            .col-lg-6
                                .banner_content.overflow-hidden
                                    //h5.mb-3.staggered-animation.font-weight-light(data-animation='slideInLeft' data-animation-delay='0.5s') Gạch ốp lát
                                    //h3.staggered-animation(data-animation='slideInLeft' data-animation-delay='1s') Kho gạch trên 1000 mẫu
            .carousel-item.background_bg(data-img-src='https://gachtot.vn/wp-content/uploads/2021/12/gach-op-lat-hoang-mai-gachtot.jpg')
                .banner_slide_content
                    .container
                        // STRART CONTAINER
                        .row
                            .col-lg-6
                                .banner_content.overflow-hidden
                                    //h5.mb-3.staggered-animation.font-weight-light(data-animation='slideInLeft' data-animation-delay='0.5s') Gạch ốp lát
                                    //h3.staggered-animation(data-animation='slideInLeft' data-animation-delay='1s') Kho gạch trên 1000 mẫu
        a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
            i.ion-chevron-left
        a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
            i.ion-chevron-right
// END SECTION BANNER
