// banner-area
section.banner-area.pt-20
    .banner-shape
    .container
        .row.justify-content-end
            .col-xl-9
                .row.align-items-center
                    .col-lg-6.order-0.order-lg-2
                        .banner-img
                            img(src='assets/img/banner/banner_img.png' alt='')
                            //.product-tooltip
                            //    .tooltip-btn
                            //    .tooltip-product-item.product-tooltip-item.left
                            //        .close-btn
                            //            i.fa-solid.fa-xmark
                            //        .tooltip-product-thumb
                            //            a(href='shop-details.html')
                            //                img(src='assets/img/product/tooltip_img.jpg' alt='')
                            //        .tooltip-product-content
                            //            h5.title
                            //                a(href='shop-details.html')
                            //                    | Watch $29.08
                            //                    span -35%
                            //            p.order 05 orders
                            //.product-tooltip
                            //    .tooltip-btn
                            //    .tooltip-product-item.product-tooltip-item.bottom.left
                            //        .close-btn
                            //            i.fa-solid.fa-xmark
                            //        .tooltip-product-thumb
                            //            a(href='shop-details.html')
                            //                img(src='assets/img/product/tooltip_img02.jpg' alt='')
                            //        .tooltip-product-content
                            //            h5.title
                            //                a(href='shop-details.html')
                            //                    | Watch $25.08
                            //                    span -40%
                            //            p.order 03 orders
                            //.product-tooltip
                            //    .tooltip-btn
                            //    .tooltip-product-item.product-tooltip-item
                            //        .close-btn
                            //            i.fa-solid.fa-xmark
                            //        .tooltip-product-thumb
                            //            a(href='shop-details.html')
                            //                img(src='assets/img/product/tooltip_img.jpg' alt='')
                            //        .tooltip-product-content
                            //            h5.title
                            //                a(href='shop-details.html')
                            //                    | Watch $29.08
                            //                    span -35%
                            //            p.order 05 orders
                    .col-lg-6
                        .banner-content
                            h2.title
                                span GẠCH ỐP LÁT
                            h5.price
                                span kHO GẠCH TRÊN 1000 MẪU
                            //a.btn(href='shop.html') Shop Now
// banner-area-end
