.blog_post.blog_style1.box_shadow1
    .blog_img
        a(href='blog-single.html')
            img(src='https://bestwebcreator.com/shopwise/demo/assets/images/furniture_blog_img1.jpg' alt='furniture_blog_img1')
    .blog_content.bg-white
        .blog_text
            h5.blog_title
                a(href='blog-single.html') But I must explain to you how all this mistaken idea
            ul.list_none.blog_meta
                li
                    a(href='#')
                        i.ti-calendar
                        |  April 14, 2018
                li
                    a(href='#')
                        i.ti-comments
                        |  2 Comment
            p
                | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&apos;t anything hidden in the text
