.blog-item.mb-30
    .blog-thumb
        a(href='blog-details.html')
            img(src='assets/img/blog/blog_img01.jpg' alt='')
    .blog-content
        .comment
            a(href='#')
                i.fa-regular.fa-comment
                span 18
        a.tag(href='#') ecommerce
        h4.title
            a(href='blog-details.html') The New Sony Solo the Cinematic Dream Brings
        p
            | Lorem Ipsum is simply dumy text the printing and industry orem Ipsum been industry&apos;s standard
            | dummy.
        .blog-meta
            ul
                li JOHN SMITH .
                li
                    a(href='blog-details.html') read more
                li . february 10,2022