.BannerInfo{
  &-wrapper{
    &-item{
      display: flex;
      width: calc(100%/3);
      align-items: center;
      @media (max-width: 992px) {
        width: 100%;
      }
      &-content{
        color: $white;
        text-align: center;
        @media (max-width: 991px) {
          padding: 6rem;
        }
        &-icon{
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: white;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 0 1.2em #ffffff inset;
          transition: .2s;
          i{
            font-size: 40px;
            color: black;
          }
          &:hover{
            box-shadow: 0 0 0 2px #ffffff inset;
            background-color: #292845;
            color: #ffffff;
            i{
              color: white;
            }
          }
        }
        &-title{
          padding: 1.5rem 0;
          font-size: 2rem;
          font-weight: bold;
          position: relative;
          &:after{
            position: absolute;
            content: "";
            bottom: 0;
            width: 10%;
            height: 2px;
            background: white;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &-desc{
          font-size: 1.6rem;
          width: 90%;
          margin: auto;
          @media (max-width: 992px) {
            width: 100%;
          }
        }
      }
      &.has-image{
        overflow: hidden;
        a{
          width: 100%;
        }
           img{
             width: 100%;
             -webkit-transform: scale3d(1,1,1);
             -moz-transform: scale3d(1,1,1);
             -ms-transform: scale3d(1,1,1);
             transform: scale3d(1,1,1);
             -webkit-transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
             -moz-transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
             transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
             transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
             -webkit-filter: grayscale(0%);
             filter: grayscale(0%);
           }
        &:hover img{
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-transform: scale3d(1.1,1.1,1.1);
          -moz-transform: scale3d(1.1,1.1,1.1);
          -ms-transform: scale3d(1.1,1.1,1.1);
          transform: scale3d(1.1,1.1,1.1);
        }
      }
    }
  }
}