.Compare-school{
  POSITION: FIXED;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 -8px 16px rgb(0 ,0,0.1);
  padding: 15px;
  transition: .5s;
  transform: translateY(100%);
  &.show{
    transform: translateY(0%);
  }
  &-wrapper{
    @media (max-width: 767px) {
      justify-content: center;
    }
    &-name{
      font-size: 2rem;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &-button{
      @media (max-width: 767px) {
        justify-content: center;
        width: 100%;
        margin-top: 5px;
      }
    }
    &-logo{
      &-item{
        border-radius: 50%;
        border: 1px solid #dfe3e6;
        position: relative;
        padding: 6px;
        transition: .3s;
        background-color: transparent;
        width: 70px;
        height: 70px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 5px;
        &:hover &-remove{
          opacity: 1;
          visibility: visible;
        }
        &:hover{
          border: 1px solid $black;
        }
        &-remove{
          position: absolute;
          top: 100%;
          left: 50%;
          width: 25px;
          height: 25px;
          opacity: 0;
          visibility: hidden;
          background-color: #fff;
          border: 2px solid #fff;
          border-radius: 50%;
          color: #212e36;
          transform: translate(-50%,-45%);
          transition: .2s;
          z-index: 1;
        }
        &-images{
          img{
            width: 100%;
          }
          &-nothing{
            width: calc(50px);
            height: calc(50px);
            background-color: #f3f2ee;
            border-radius: 50%;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}