.Contact {
  padding: 6rem 0;
  background: $gray;

  &-wrapper {
    column-gap: 4rem;
    row-gap: 4rem;

    &-item {
      position: relative;
      flex: 1;
      text-align: center;

      @media (max-width: 991px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  &-item {
    &-title {
      font-size: 2.4rem;
      font-weight: 700;
      color: $white;
      margin-bottom: 2.4rem;
    }

    &-description {
      font-size: 2rem;
      color: $white;
      max-width: 80rem;
      margin: 0 auto 3rem;
    }

    &-image {
      img {
        width: 100%;
        border: 5px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }

    &-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(50%);
      z-index: 2;
      width: 100%;

      .Button {
        width: 100%;
        max-width: 37.5rem;
        .Button-control{
          background: $cloud-burst;
        }
      }
    }
  }
}