aside.shop-sidebar
    .widget.mb-35
        .widget-title.mb-25
            h4.title Category
        .shop-cat-list
            ul
                li
                    a(href='#')
                        | Furniture
                        span 8
                li
                    a(href='#')
                        | Coffee &amp; Tables1
                        span 3
                li
                    a(href='#')
                        | Lighting3
                        span 2
                li
                    a(href='#')
                        | Decoration5
                        span 5
                li
                    a(href='#')
                        | Electronics1
                        span 9
                li
                    a(href='#')
                        | Beds2
                        span 8
                li
                    a(href='#')
                        | Armchairs &amp; Chaises3
                        span 7
                li
                    a(href='#')
                        | Sofas &amp; Sleeper Sofas
                        span 3
    .widget.mb-40
        .widget-title.mb-25
            h4.title Best Seller
        .sidebar-product-list
            ul
                li
                    .thumb
                        a(href='shop-details.html')
                            img(src='assets/img/product/sidebar_product01.jpg' alt='img')
                    .content
                        h6.title
                            a(href='shop-details.html') Appliance Aid Kitchen Stand
                        .rating
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        h4.price
                            del $39.08
                            |  $19.00
                li
                    .thumb
                        a(href='shop-details.html')
                            img(src='assets/img/product/sidebar_product02.jpg' alt='img')
                    .content
                        h6.title
                            a(href='shop-details.html') One Washer Dryer
                        .rating
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        h4.price
                            del $39.08
                            |  $19.00
                li
                    .thumb
                        a(href='shop-details.html')
                            img(src='assets/img/product/sidebar_product03.jpg' alt='img')
                    .content
                        h6.title
                            a(href='shop-details.html') Electric Blender Mixer
                        .rating
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        h4.price
                            del $39.08
                            |  $19.00
    .widget.mb-40
        .widget-title.price-title.mb-15
            h4.title Filter by price :
        .price_filter
            #slider-range
            .price_slider_amount
                input.btn(type='submit' value='Filter')
                span Price :
                input#amount(type='text' name='price' placeholder='Add Your Price')
    .widget
        .widget-title.mb-15
            h4.title Product Brand
        .shop-brand-list
            ul
                li
                    a(href='#')
                        | New Arrivals
                        i.fa-solid.fa-angles-right
                li
                    a(href='#')
                        | Clothing &amp; Accessories
                        i.fa-solid.fa-angles-right
                li
                    a(href='#')
                        | Electronics
                        i.fa-solid.fa-angles-right
                li
                    a(href='#')
                        | Home Appliance
                        i.fa-solid.fa-angles-right
                li
                    a(href='#')
                        | Gaming Accessories
                        i.fa-solid.fa-angles-right
