aside.shop-sidebar
    .widget.mb-35
        .widget-title.mb-25
            h4.title Chọn kích thước
        .shop-cat-list
            ul
                +CategoryItem({ data: listSize })
    .widget.mb-35
        .widget-title.mb-25
            h4.title Loại sản phẩm
        .shop-cat-list
            ul
                +CategoryItem({data: listCategory})
    .widget.mb-35
        .widget-title.mb-25
            h4.title Bề mặt
        .shop-cat-list
            ul
                +CategoryItem({data: listMat})
    .widget.mb-35
        .widget-title.mb-25
            h4.title Bộ sưu tập
        .shop-cat-list
            ul
                +CategoryItem({data: listBst})
    .widget
        .trending-product
            h3.title Bạn vừa xem
            ul
                each item in [1,2,3,4,5,6,7,8]
                    li.trending-product-item.mb-30
                        .thumb
                            a(href='shop-details.html')
                                img(src='https://gachtot.vn/wp-content/uploads/2023/07/gach-op-lat-60x60-trung-quoc-1566B07-qrc-300x300.jpg' alt='')
                        .content
                            h6.title
                                a(href='shop-details.html') Gạch Ốp Lát 60×60 Trung Quốc 1566B07
                            h4.price
                                | 660.000₫ /m2
