extends includes/layouts/Guest.pug

block pages
    +BannerCommon({
        subtitle: 'Xem các hoạt động của chúng tôi',
        title: 'Hoạt động',
    })
    section.activity.pb-5.pt-5
        .container
            .row
                each item in [1,2,3,4,5,6,7,8,9]
                    .col-lg-4.mb-5
                        +CardItem({
                            src: 'https://cscmobi.com/wp-content/uploads/2018/09/anh01.jpg',
                            width: "100%",
                            className: 'vertical building',
                            isGallery: false,
                            link: 'chi-tiet-hoat-dong.html',
                        })
                            block category
                                p.TeamBuilding-category Games
                .col-12
                    .HeroBanner-left-action.flex.justify-center
                        +Button({title: 'Xem thêm', size: 'small', link: '#'})