extends includes/layouts/Guest.pug

block pages
    include includes/containers/banners/banner
    include includes/containers/services/services
    include includes/containers/shops/shop-product-row
    include includes/containers/shops/shop-product-slider
    include includes/containers/banners/banner-2
    include includes/containers/abouts/about
    include includes/containers/blogs/blog
    include includes/containers/partners/partner