extends includes/layouts/Guest.pug

block pages
    include includes/containers/banners/banner
    include includes/containers/services/services
    include includes/containers/products/flash-product
    include includes/containers/banners/banner-2
    include includes/containers/abouts/about
    // features-area-end
    include includes/containers/blogs/blog