extends includes/layouts/Guest.pug

block pages
  //+Customers({ title: 'Tôi đã chọn KingStudy', data: dataCustomers })
  include includes/containers/HeroBanner.pug
  include includes/containers/BannerInfo.pug
  include includes/containers/BannerSocial.pug
  include includes/containers/Services.pug
  include includes/containers/TeamBuilding.pug
  include includes/containers/JoinTeam.pug