extends includes/layouts/Guest.pug

block pages
    +BannerCommon({subtitle:'Ý tưởng của bạn', title:'Giải pháp của chúng tôi',desc:'Liên hệ với chúng tôi ngay để biến ý tưởng của bạn thành hiện thực.'})
    section.contacts
        .container
            .row
                .col-12.col-lg-12
                    .contacts-left
                        +TitleHeader({onlytitle: true,title:'Liên hệ',desc:'Gửi email cho chúng tôi hoặc liên lạc theo số điện thoại bên dưới, chúng tôi luôn chào đón bạn.'})
                .col-12.col-lg-12.mt-5
                    .contacts-right.row.items-start
                            each items in [1,2,3]
                                .col-lg-4.contacts-right-item
                                    +CardItem({
                                        icon: true,
                                        nameIcon: "assets/icons/game.svg",
                                        classCustomIcon: 'hover',
                                        className: 'vertical text-center',
                                        title: 'Địa chỉ',
                                        desc: '+84.996.39.39.29',
                                        style: 'width:50px;margin:auto'
                                    })
