extends includes/layouts/Layout-v2

block pageV2
    .breadcrumb-area-two
        .container
            .row
                .col-md-12
                    .breadcrumb-wrap
                        nav(aria-label='breadcrumb')
                            ol.breadcrumb
                                li.breadcrumb-item
                                    a(href='index.html') Home
                                li.breadcrumb-item.active(aria-current='page') Chi tiết sản phẩm
    // shop-details-area
    .shop-details-area.pt-80.pb-90
        .container
            .row
                .col-xl-5.col-lg-6
                    .shop-details-img-wrap
                        #nav-tabContent.tab-content
                            #nav-item-one.tab-pane.show.active(role='tabpanel' aria-labelledby='nav-item-one-tab')
                                .shop-details-img
                                    img(src='https://gachtot.vn/wp-content/uploads/2023/07/gach-op-lat-60x60-trung-quoc-1566B03-qrc.jpg' alt='img')
                            #nav-item-two.tab-pane(role='tabpanel' aria-labelledby='nav-item-two-tab')
                                .shop-details-img
                                    img(src='https://gachtot.vn/wp-content/uploads/2023/07/gach-op-lat-60x60-trung-quoc-1566B03-1-1-600x600.jpg' alt='img')
                    .shop-details-nav-wrap
                        nav
                            #nav-tab.nav.nav-tabs(role='tablist')
                                button#nav-item-one-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#nav-item-one' type='button' role='tab' aria-controls='nav-item-one' aria-selected='true')
                                    img(src='https://gachtot.vn/wp-content/uploads/2023/07/gach-op-lat-60x60-trung-quoc-1566B03-qrc-300x300.jpg' width="100px" alt='img')
                                button#nav-item-two-tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav-item-two' type='button' role='tab' aria-controls='nav-item-two' aria-selected='false')
                                    img(src='https://gachtot.vn/wp-content/uploads/2023/07/gach-op-lat-60x60-trung-quoc-1566B03-1-1-300x300.jpg' width="100px" alt='img')
                .col-xl-5.col-lg-6.col-md-8
                    .shop-details-content
                        h2.title Smartwatch BT Phone Call 1.3inch

                        .shop-details-price
                            h2.title 660.000đ
                        p
                            | The domestic dog is a doiated dendant of the wolf. The dog derived from an ancient, extinct wolf, and the modern grey wolf is nearest.

                        .shop-details-quantity
                            span Quantity :
                            .cart-plus-minus
                                input(type='text' value='1')
                            a.wishlist-btn(href='shop-details.html')
                                i.fa-solid.fa-cart-arrow-down
                                |  Thêm vào giỏ hàng
                            a.cart-btn(href='#') Báo giá công trình !

                        .shop-details-bottom
                            ul
                                li.sd-category
                                    span.title Categories :
                                    a(href='shop.html') Hand Watch,
                                    a(href='shop.html') Smartwatch,
                                    a(href='shop.html') Phone

                                li.sd-share
                                    span.title Share Now :
                                    a(href='#')
                                        i.fab.fa-facebook-f
                                    a(href='#')
                                        i.fab.fa-twitter
                                    a(href='#')
                                        i.fab.fa-linkedin-in
                .col-xl-2.col-lg-12.col-md-4
                    .recommended-item-wrap
                        .recommended.scroll
                            span Sản phẩm mới nhất
                            each item in [1,2,3,4,5,6]
                                .recommended-item.mb-25
                                    .thumb
                                        a(href='shop-details.html')
                                            img(src='assets/img/product/recommended_img01.jpg' alt='img')
                                    .content
                                        h5.price 664.000đ


    // shop-details-area-end
    // product-details-area
    section.product-details-area.pb-80
        .container
            .row
                .col-xl-12
                    .product-desc-wrap
                        .product-desc-top
                            .product-desc-nav
                                ul#productTab.nav.nav-tabs(role='tablist')
                                    li.nav-item(role='presentation')
                                        button#overview-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#overview' type='button' role='tab' aria-controls='overview' aria-selected='true') Tổng quan
                                    li.nav-item(role='presentation')
                                        button#reviews-tab.nav-link(data-bs-toggle='tab' data-bs-target='#reviews' type='button' role='tab' aria-controls='reviews' aria-selected='false') Thông tin bổ sung
                                    li.nav-item(role='presentation')
                                        button#specifications-tab.nav-link(data-bs-toggle='tab' data-bs-target='#specifications' type='button' role='tab' aria-controls='specifications' aria-selected='false')
                                            | Showroom

                            .product-report
                                a(href='contact.html') Report Item
                        #productTabContent.tab-content
                            #overview.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='overview-tab')
                                .product-desc-content
                                    p
                                        | There are many variations of passages of Lorem Ipsum available, but the majority have
                                        | suffered alteration in some form,by injected humour, or rando wmised words which don&apos;t look
                                        | even the slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                                        | be sure there isn&apos;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                                        | genereators on the Internet tend to repeat predefined chunks as necessary, making this the
                                        | first true generator on the Internet. It uses a dictionary of over 200 Latdin words,
                                        | combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                                        | reasonable suffered alteration in some form.
                                    .product-quick-details.mb-25
                                        h4.title Quick Details
                                        .product-details-list-wrap
                                            .row
                                                .col-lg-3.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li Private Mold:
                                                            li Model Number:
                                                            li Display Type:
                                                            li Screen:
                                                            li Feature:
                                                .col-lg-2.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li Yes
                                                            li uxt
                                                            li Max
                                                            li 5&quot;
                                                            li MP3 Playback
                                                .col-lg-3.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li Brand Name:
                                                            li Place of Origin:
                                                            li Screen Resolution:
                                                            li Display Color:
                                                            li Operation System:
                                                .col-lg-4.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li SOVOGUE
                                                            li Guangdong, China
                                                            li 240*320
                                                            li Color
                                                            li ANDROID, IOS
                                    p
                                        | Need to be sure there isn&apos;t anything embarrassing hidden in the middle of text. All the Lorem
                                        | Ipsum genereators on the Internet tend to repeat predefined chunks as necessary, making this
                                        | the first true generator on the Internet. It uses a dictionary of over 200 Latdin words,
                                        | combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                                        | reasonable tend suffered alteration in some form reators on the Internet tend to repeat .
                                    .product-feature-wrap.mb-30
                                        .row
                                            .col-xl-7.col-lg-6
                                                .product-details-img
                                                    img(src='assets/img/images/product_details_img.jpg' alt='img')
                                            .col-xl-5.col-lg-6
                                                .product-feature
                                                    h4.title Features :
                                                    p
                                                        | Need to be sure there isn&apos;t anything embarrassing hidden in the middle of
                                                        | text. All the Lorem Ipsum
                                                        | genereators on the Internet tend to repeat predefined chunks assing hidden
                                                    ul.product-feature-list
                                                        li Windows Mobile&reg; 6.1 Professional Edition
                                                        li The device features a LED display.
                                                        li Pros:really great keyboard, good trackpad, alcantara
                                                        li 802.11b/g with WPA, WPA2, and 801.1x authentication
                                                        li 320x320 transflective colour TFT touchscreen
                                                        li HSDPA/UMTS/EDGE/GPRS/GSM radio
                                                        li Tri-band UMTS &mdash; 850MHz, 1900MHz, 2100MHz
                                                        li 2.0 megapixel camera, up to 8x digital zoom and video capture
                                    p
                                        | There are many variations of passages of Lorem Ipsum available, but the majority have
                                        | suffered alteration in some form, by injected humour, or rando wmised words which don&apos;t look
                                        | even the slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                                        | be sure there isn&apos;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                                        | genereators on the Internet tend to repeat predefined chunks as necessary, making this the
                                        | first true generator on the Internet. It uses a dictionary of over 200 Latdin words,
                                        | combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                                        | reasonable suffered alteration in some form.
                            #reviews.tab-pane.fade(role='tabpanel' aria-labelledby='reviews-tab')
                                .product-desc-content
                                    .product-quick-details
                                        h4.title Additional Information
                                        .product-details-list-wrap
                                            .row
                                                .col-lg-3.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li Private Mold:
                                                            li Model Number:
                                                            li Display Type:
                                                            li Screen:
                                                            li Feature:
                                                .col-lg-2.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li Yes
                                                            li uxt
                                                            li Max
                                                            li 5&quot;
                                                            li MP3 Playback
                                                .col-lg-3.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li Brand Name:
                                                            li Place of Origin:
                                                            li Screen Resolution:
                                                            li Display Color:
                                                            li Operation System:
                                                .col-lg-4.col-md-6.col-sm-6
                                                    .product-details-list
                                                        ul
                                                            li SOVOGUE
                                                            li Guangdong, China
                                                            li 240*320
                                                            li Color
                                                            li ANDROID, IOS
                            #specifications.tab-pane.fade(role='tabpanel' aria-labelledby='specifications-tab')
                                .product-desc-content
                                    .product-desc-review
    // popular-product-area
    section.popular-product-area.pb-90
        .container
            .row.align-items-center.mb-35
                .col-md-12
                    .section-title
                        h2.title Sản phẩm tương tự
            .row.popular-product-active
                each item in [1,2,3,4,5,6,7]
                    .col-xl-2
                        .product-item-three
                            .product-thumb
                                a(href='shop-details.html')
                                    img(src='https://gachtot.vn/wp-content/uploads/2020/09/15807-1-300x300.jpg' alt='img')
                            .product-content.text-center
                                h4.title
                                    a(href='shop-details.html') Gạch ốp lát 15×80 Trung Quốc 15807
                                p

                                    span -35%
                                h4.price 260.000₫/ 1m2
