extends includes/layouts/Guest.pug

block pages
    section.hiring
        +BannerCommon({subtitle:'TUYỂN DỤNG', title:'Lập Trình Unity Game'})
        .container.pb-5.pt-5
            .row
               .col-12
                   .style-content
                       p
                           strong M&ocirc; t&#x1EA3; c&ocirc;ng vi&#x1EC7;c
                       p &ndash; Tham gia ph&aacute;t tri&#x1EC3;n c&aacute;c d&#x1EF1; &aacute;n game mobile 2D s&#x1EED; d&#x1EE5;ng engine Unity2d.
                       p &ndash; Ph&#x1ED1;i h&#x1EE3;p v&#x1EDB;i c&aacute;c th&agrave;nh vi&ecirc;n trong nh&oacute;m &dstrok;&#x1EC3; ho&agrave;n thi&#x1EC7;n v&agrave; t&#x1ED1;i &#x1B0;u game.
                       p &ndash; &Dstrok;&oacute;ng g&oacute;p &yacute; t&#x1B0;&#x1EDF;ng c&#x1EA3;i ti&#x1EBF;n s&#x1EA3;n ph&#x1EA9;m hi&#x1EC7;n c&oacute; v&agrave; cho c&aacute;c game trong t&#x1B0;&#x1A1;ng lai.
                       p
                           strong Y&ecirc;u c&#x1EA7;u
                       p &ndash; Tr&ecirc;n 6 th&aacute;ng kinh nghi&#x1EC7;m ph&aacute;t tri&#x1EC3;n game mobile 2D v&#x1EDB;i Unity.
                       p &ndash; S&#x1EED; d&#x1EE5;ng th&agrave;nh th&#x1EA1;o C# v&agrave; t&#x1B0; duy l&#x1EAD;p tr&igrave;nh h&#x1B0;&#x1EDB;ng &dstrok;&#x1ED1;i t&#x1B0;&#x1EE3;ng t&#x1ED1;t.
                       p &ndash; C&oacute; kh&#x1EA3; n&abreve;ng t&#x1EF1; nghi&ecirc;n c&#x1EE9;u, h&#x1ECD;c h&#x1ECF;i.
                       p &ndash; C&oacute; kh&#x1EA3; n&abreve;ng &dstrok;&#x1ECD;c hi&#x1EC3;u t&agrave;i li&#x1EC7;u ti&#x1EBF;ng Anh
                       p
                           strong Quy&#x1EC1;n l&#x1EE3;i:
                       p
                           | &ndash; L&#x1B0;&#x1A1;ng: up to
                           strong 2,000&nbsp;USD
                       p &ndash; Tham gia quy tr&igrave;nh ph&aacute;t tri&#x1EC3;n Scrum ti&ecirc;n ti&#x1EBF;n v&#x1EDB;i vai tr&ograve; Developer.
                       p &ndash;&nbsp; M&ocirc;i tr&#x1B0;&#x1EDD;ng l&agrave;m vi&#x1EC7;c tr&#x1EBB; trung, n&abreve;ng &dstrok;&#x1ED9;ng v&agrave; th&acirc;n thi&#x1EC7;n.
                       p
                           | &ndash; &Dstrok;&#x1B0;&#x1EE3;c ch&#x1EE7; &dstrok;&#x1ED9;ng &dstrok;&#x1EC1; xu&#x1EA5;t c&aacute;c &yacute; t&#x1B0;&#x1EDF;ng c&#x1EA3;i ti&#x1EBF;n s&#x1EA3;n ph&#x1EA9;m v&agrave; chi&#x1EBF;n l&#x1B0;&#x1EE3;c ph&aacute;t tri&#x1EC3;n s&#x1EA3;n ph&#x1EA9;m.
                       p &ndash; &Dstrok;&#x1B0;&#x1EE3;c ph&aacute;t huy t&#x1ED1;i &dstrok;a kh&#x1EA3; n&abreve;ng s&aacute;ng t&#x1EA1;o c&#x1EE7;a b&#x1EA3;n th&acirc;n.
                       p
                           | &ndash; &Dstrok;&#x1B0;&#x1EE3;c ngh&#x1EC9; ph&eacute;p 14 ng&agrave;y/n&abreve;m v&agrave; &dstrok;&#x1B0;&#x1EE3;c tham gia &iacute;t nh&#x1EA5;t 2 k&igrave; ngh&#x1EC9; c&#x1EE7;a c&ocirc;ng ty: ngh&#x1EC9; h&egrave; v&agrave; du xu&acirc;n.
                       p
                           | &ndash; Ngo&agrave;i l&#x1B0;&#x1A1;ng c&#x1EE9;ng c&ograve;n c&oacute; c&aacute;c kho&#x1EA3;n th&#x1B0;&#x1EDF;ng theo d&#x1EF1; &aacute;n: game &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c c&aacute;c m&#x1ED1;c c&agrave;i &dstrok;&#x1EB7;t cao, game &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1B0;&#x1EE3;c c&aacute;c m&#x1ED1;c doanh thu t&#x1ED1;t.
                       p &ndash; &Dstrok;&#x1B0;&#x1EE3;c &dstrok;&oacute;ng b&#x1EA3;o hi&#x1EC3;m theo quy &dstrok;&#x1ECB;nh c&#x1EE7;a nh&agrave; n&#x1B0;&#x1EDB;c
                       p
                           strong
                               u H&#x1ED3; s&#x1A1; bao g&#x1ED3;m
                       p &ndash; CV ti&#x1EBF;ng Vi&#x1EC7;t n&ecirc;u r&otilde; kinh nghi&#x1EC7;m l&agrave;m vi&#x1EC7;c.
                       p &ndash; Link c&aacute;c s&#x1EA3;n ph&#x1EA9;m.
                       p &ndash; G&#x1EED;i c&aacute;c th&ocirc;ng tin v&#x1EC1; email: hr@cscmobi.com
                   .hiring-related
                       ul.hiring-related-list.flex.items-center.justify-between
                           li.hiring-related-list-item
                               a(href="#").hiring-related-list-item-link PREVIOUS
                               a(href="#").hiring-related-list-item-link Teambuiding Thảo Viên Resort – 2021
                           li.hiring-related-list-item
                               a(href="#").hiring-related-list-item-link NEXT
                               a(href="#").hiring-related-list-item-link Teambuiding Thảo Viên Resort – 2021