mixin FeedbackBlock({})
  .FeedbackBlock
    .FeedbackBlock-avatar 
      img(src="./assets/images/image-avatar.png", alt="")
    h5.FeedbackBlock-title Tran thanh hung
    p.FeedbackBlock-description Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type