// features-area
section.features-area.pt-90
    .container
        .row.justify-content-center
            .col-lg-6.col-md-10
                .features-item.mb-30
                    .features-thumb
                        img(src='assets/img/features/features_img01.jpg' alt='')
                    .features-content
                        span 35% discount
                        h2.title
                            a(href='shop.html') Smart home mixer
                        p Giving information on origins random Lipsum generator.
                        a.btn(href='shop.html') shop now
            .col-lg-6.col-md-10
                .features-item.mb-30
                    .features-thumb
                        img(src='assets/img/features/features_img02.jpg' alt='')
                    .features-content.white-content
                        span 35% discount
                        h2.title
                            a(href='shop.html') Smart home mixer
                        p Giving information on origins random Lipsum generator.
                        a.btn(href='shop.html') shop now
// features-area-end
